//DEFAULTS WIDTHS & HEIGHTS
$sizes: (
    
    //Sidebar
    sidebar: rem(300px),
    sidebar-tablet: rem(240px),
    sidebar-min: rem(90px),
    
    //Headers
    header-main: rem(280px),
    header-main-medium: rem(240px),
    header-main-small: rem(180px),
    header-main-mobile: rem(100px),
    header-page: rem(90px),
    page-header: rem(90px),
    header-page-min: rem(60px),
    
    //Navigation
    nav-main: rem(50px),
    
    //Margins
    margin-page: rem(120px),
    margin-page-medium: rem(60px),
    margin-page-small: rem(50px),
    margin-page-min: rem(50px),
    margin-page-mobile: rem(20px),
    
    //Form Elements
    input-default: rem(48px),
    input-small: rem(28px),
    input-medium: rem(36px),
    input-large: rem(48px),
    
    //Grid & Columns Gutters
    gutter-xsmall: 0.25rem,
    gutter-small: 0.5rem,
    gutter-medium: 1rem,
    gutter-large: 1.5rem,
    gutter-xlarge: 2rem,
    
    //Misc
    touch: rem(60px),
    marker: rem(12px),
    tag: rem(36px),
    tag-small: rem(24px),
    border-radius: rem(3px)
);

// TABLES:
$table-cell-padding:            .75rem;
$table-sm-cell-padding:         .3rem;
$table-bg:                      #FFF;
$table-bg-accent:               color(gray-lighter);
$table-bg-hover:                color(gray-light);
$table-bg-header:               color(gray-medium);


/*
BASE LAYOUTS DIMENSIONS
*/

$main-content: calc(100vw - #{size(sidebar)});
$main-content-tablet: calc(100vw - #{size(sidebar-tablet)});
$main-content-phone: 100%;