// Responsive Breakpoints
$phone-portrait: 320px;
$phone-landscape: 480px;
$tablet-small: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$laptop: 1200px;
$desktop: 1600px;
$desktop-large: 2200px;

@mixin responsive($media: null, $min-width: null, $max-width: null) {
    @if $media == 'phone-portrait' {
        @media (max-width: $phone-portrait) {
            @content;
        }
    }

    @if $media == 'phone-landscape' {
        @media (max-width: $phone-landscape) {
            @content;
        }
    }
    
    @if $media == 'tablet-small' {
        @media (max-width: $tablet-small) {
            @content;
        }
    }
    
    @if $media == 'tablet-portrait' {
        @media (max-width: $tablet-portrait) {
            @content;
        }
    }
    
    @if $media == 'tablet-landscape' {
        @media (max-width: $tablet-landscape) {
            @content;
        }
    }
    
    @if $media == 'laptop' {
        @media (max-width: $laptop) {
            @content;
        }
    }
    
    @if $media == 'desktop' {
        @media (max-width: $desktop) {
            @content;
        }
    }
    
    @if $media == 'desktop-large' {
        @media (max-width: $desktop-large) {
            @content;
        }
    }

    @if not $media {
        @if $min-width and $max-width {
            @media (min-width: $min-width) and (max-width: $max-width) {
                @content;
            }
        } @else if $min-width {
            @media (min-width: $min-width) {
                @content;
            }
        } @else if $max-width {
            @media (max-width: $max-width) {
                @content;
            }
        }
    }
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
@mixin scale($scale) {
	 @include transform(scale($scale));
} 

@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

@mixin translateX($x) {
   @include transform(translateX($x));
}

@mixin translateY($y) {
   @include transform(translateY($y));
}

@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin aspect-ratio($w, $h) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($h / $w) * 100%;
    }
    
    > img,
    > .media {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin background-loop ($count, $initialcolor) {
    @for $i from 0 through $count {
        background-color: darken($initialcolor, $i + $i);
    }
}

@mixin background-image($name, $type: 'png', $repeat: no-repeat, $size: contain, $position: 'center') {
    $path: '../images/' + $type + '/' + $name + '.' + $type;
    background-image: url($path);
    background-repeat: $repeat;
    background-size: $size;

    @if $position == 'center' {
        background-position: center;
    }

    @if $position == 'left' {
        background-position: left;
    }
}

@mixin icon($icon: null, $align: null, $size: null, $type: null, $thickness: null, $icon-size: null, $valign: 'top') {
    position: relative;

    @if $type == 'sq' or $type == 'square' or $type == 'icon' {
        width: $size !important;
        height: $size !important;
        padding: 0 !important;
        text-indent: -10000px;
    }

    @if $size {
        @if $align == 'left' {
            padding-left: $size * 1.15;
        }
        @else if $align == 'right' {
            padding-right: $size * 1.15;
            
        }
    }

    &:before {
        @extend %glyphs;
        display: block;
        $size: if($size, $size, auto);

        @if not $type {
            width: $size;
            height: $size;
        } @else if $type == 'square' or $type == 'sq' or $type == 'icon' {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        content: if($icon, $icon, '');
        font-weight: if($thickness, $thickness, normal);
        font-size: if($icon-size, $icon-size, $size);
        line-height: if($size, $size, inherit);
        position: absolute;
        text-indent: 0;

        @if $align == 'left' or not $align {
            left: 0;
        } @else if $align == 'right' {
            right: 0;
        }

        @if $valign == 'top' {
            top: 0;
        } @else if $valign == 'middle' {
            top: 50%;
            margin-top: - ($size / 2);
        } @else if $valign == 'bottom' {
            bottom: 0;
        }
    }
}