/*****

RESPONSIVE GRID

GRID TYPES - By default, 3 types of grids are defined: fifhts, twelfths, twentyfourths. Any number of grids can be defined by adding the values to the $grid-sizes variable. 

COLUMNS - Columns share the same base measures, but include gutters defined by paddings.

APPLYING THE GRID - The grid elements can be applied independently when you wish to set a grid-related width. Grid elements need to be wrapped on a parent element with the class of "grid" to inherit the normal grid functionality. The width of the grid elements are calculated as part of the whole, different widths can be combined in a single grid wrapper until it reaches the total. Example: .grid-2-12, .grid-2-12, .grid-8-12.

******/

$grid-sizes: (5, 12, 24);

@each $s in $grid-sizes {
    
    $size: 100%/$s;
    
    @for $i from 1 through $s {
        
        .grid-#{$i}-#{$s} {
            $width: fix-precision($size * $i);
            width: $width;
            
            @include responsive($max-width: '1100px') {
                @if ($width/1%) < 25 {
                    width: 25%;
                }
                
                @if ($width/1%) < 21 {
                    width: 20%;
                }
            }
            
            @include responsive($max-width: '1024px') {
                @if ($width/1%) < 33.333333 {
                    width: 33.333333%;
                }
                
                @if ($width/1%) < 25 {
                    width: 24%;
                }
            }
          
            @include responsive($max-width: '980px') {
                @if ($width/1%) < 33.333333 {
                    width: 32%;
                }
                
                @if ($width/1%) < 25 {
                    width: 32%;
                }
            }
            
            @include responsive($max-width: '780px') {
                @if ($width/1%) < 33.333333 {
                    width: 48%;
                }
                
                @if ($width/1%) < 25 {
                    width: 48%;
                }
            }
            
            @include responsive($max-width: '600px') {
                width: 100%;
            }
        }
    }
}

.grid {
    @extend %clearfix;
    display: block;
	position: relative;
	box-sizing: border-box;
    //margin-left: 0.25rem;
    
    * {
        box-sizing: inherit;
    }
    
    *[class*="grid-"] {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-left: -0.25rem;
        box-sizing: border-box;
        
        &.no-gap {
            margin-left: 0;
        }
    }
    
    & > *:not(*[class*="grid-"]) {
        vertical-align: baseline;
    }
    
    &.align-center {
        text-align: center;
    }
    
    &.align-right {
        text-align: right;
    }
    
    @include responsive($max-width: '768px') {
        
    }
    
    /* --------
    
    GUTTERS & EDITORIAL COLUMNS:
    
    The gutter in the columns can be fixed or fluid. By default, gutters are defined fixed and of medium size, following the same widths described above.
    Fluid gutters are defined only for 2, 3, 4, 5 and 6 columns.

    Gutter sizes are defined in _variables.scss, in the sizes map.

    -------- */
    $columns-count: (2, 3, 4, 5, 6, 8, 10, 12, 16);
    $columns-gutter: (gutter-xsmall, gutter-small, gutter-medium, gutter-large, gutter-xlarge);
    
    
    @each $g in $columns-gutter {
        
        $class: '.' + $g;

        $gutter: size(#{$g});

        &#{$class} {
            margin-left: calc(#{$gutter} * 0.775);

            @include responsive($max-width: '1048px') {
                margin-left: calc(size(gutter-medium) * 0.775);
            }

            @include responsive($max-width: '768px') {
                margin-left: 0;
            }

            @each $s in $grid-sizes {
                @for $i from 1 through $s {
                    .grid-#{$i}-#{$s} {
                        padding-right: $gutter;
                        margin-bottom: $gutter;

                        @include responsive($max-width: '1048px') {
                            @if $g == 'gutter-small' or $g == 'gutter-xsmall' { 
                                padding-right: $gutter;
                            }

                            @else {
                                padding-right: size(gutter-medium);
                                margin-bottom: size(gutter-medium);
                            }
                        }

                        @include responsive($max-width: '768px') {
                            padding-right: 0;
                        }
                    }
                }
            }

            //Columns
            @each $c in $columns-count {
                &.columns-#{$c} {
                    margin-left: 0;

                    @each $s in $grid-sizes {
                        $columns-margin-total: ($gutter * ($c - 1)) / $c;
                        $columns-margin-total-mobile: (size(gutter-medium) * ($c - 1)) / $c;
                        $columns-margin-total-mobile-min: (size(gutter-small) * ($c - 1)) / $c;
                        $columns-margin-total-mobile-fifths: (size(gutter-small) * (5 - 1)) / 4;
                        $columns-margin-total-mobile-fours: (size(gutter-small) * (4 - 1)) / 4;
                        $columns-margin-total-mobile-threes: (size(gutter-small) * (3 - 1)) / 3;
                        $columns-margin-total-mobile-thirds: (size(gutter-small) * (3 - 1)) / 3;
                        $columns-margin-total-mobile-twos: (size(gutter-small) * (2 - 1)) / 2;

                        $size: 100%/$s;

                        @for $i from 1 through $s {
                            $width: fix-precision($size * $i);

                            .grid-#{$i}-#{$s} {
                                width: calc(#{$width} - #{$columns-margin-total});
                                margin-right: $gutter;
                                margin-bottom: $gutter/2;
                                padding-right: 0;

                                &:nth-child(#{$c}n + #{$c}) {
                                    margin-right: 0;
                                }

                                @include responsive($max-width: '1048px') {
                                    @if $g == 'gutter-small' or $g == 'gutter-xsmall' { 
                                        width: calc(#{$width} - #{$columns-margin-total});
                                        margin-right: $gutter;

                                        @if ($width/1%) < 25 {
                                            width: calc(25% - #{$columns-margin-total});
                                        }

                                        @if ($width/1%) < 20 {
                                            width: calc(33.333333% - #{$columns-margin-total});
                                        }

                                    }

                                    @else {
                                        width: calc(#{$width} - #{$columns-margin-total-mobile-min});
                                        margin-right: size(gutter-small);

                                        @if ($width/1%) < 25 {
                                            width: calc(25% - #{$columns-margin-total-mobile-fours});
                                            margin-right: size(gutter-small);

                                            &:nth-child(4n+4) {
                                                margin-right: 0;
                                            }
                                        }

                                        @if ($width/1%) < 20 {
                                            width: calc(33.333333% - #{$columns-margin-total-mobile-thirds});
                                            margin-right: size(gutter-small);

                                            &:nth-child(3n+3) {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }

                                @include responsive($max-width: '980px') {
                                    @if $g == 'gutter-small' or $g == 'gutter-xsmall' { 
                                        width: calc(#{$width} - #{$columns-margin-total});
                                        margin-right: $gutter;

                                        @if ($width/1%) <= 25 {
                                            width: calc(25% - #{$columns-margin-total-mobile-fifths});
                                            margin-right: size(gutter-small);

                                            &:nth-child(4n+4) {
                                                margin-right: 0;
                                            }
                                        }

                                        @if ($width/1%) <= 20 {
                                            width: calc(33.333333% - #{$columns-margin-total-mobile-thirds});
                                            margin-right: size(gutter-small);

                                            &:nth-child(3n+3) {
                                                margin-right: 0;
                                            }
                                        }
                                    }

                                    @else {
                                        width: calc(#{$width} - #{$columns-margin-total-mobile-min});
                                        margin-right: size(gutter-medium);

                                        @if ($width/1%) <= 25 {
                                            width: calc(33.33333% - #{$columns-margin-total-mobile-thirds});
                                            margin-right: size(gutter-small);

                                            &:nth-child(3n+3) {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }

                                @include responsive($max-width: '820px') {
                                    @if $g == 'gutter-small' or $g == 'gutter-xsmall' { 
                                        width: calc(#{$width} - #{$columns-margin-total});
                                        margin-right: $gutter;

                                        @if ($width/1%) < 100 {
                                            width: calc(50% - #{$columns-margin-total-mobile-twos});
                                            margin-right: size(gutter-small);

                                            &:nth-child(2n+2) {
                                                margin-right: 0;
                                            }
                                        }
                                    }

                                    @else {
                                        width: calc(#{$width} - #{$columns-margin-total-mobile-min});
                                        margin-right: size(gutter-small);

                                        @if ($width/1%) < 100 {
                                            width: calc(50% - #{$columns-margin-total-mobile-twos});
                                            margin-right: size(gutter-small);

                                            &:nth-child(2n+2) {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }

                                @include responsive($max-width: '600px') {
                                    display: block !important;
                                    width: 100% !important;
                                    margin-right: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* --------
    
    SPACE RELATIONSHIPS:

    -------- */
    
    &[class*="columns-"] + &[class*="columns-"] {
        margin-top: 1rem;
    }
}

