.search-results {
    & > li,
    & > .result-entity {
        display: block;
        width: 100%;
        height: auto;
        padding: 1rem 1rem 1rem 4rem;
        margin-bottom: 1rem;
        background: color(gray-lightest);
        position: relative;
        
        
        &:before {
            width: 2rem;
            height: 2rem;
            font-size: 1.5rem;
            line-height: 2rem;
            color: color(primary);
            position: absolute;
            top: 1rem;
            left: 0.75rem;
        }
        
        .ui-checkbox {
            position: absolute;
            top: 1rem;
            left: 1.25rem;
        }
        
        header {
            padding-bottom: 0.75rem;
            position: relative;
            
            .ui-checkbox {
                top: -0.25rem;
                left: -2.55rem; 
            }
        }
        
        h2 {
            font-size: 1.35rem;
            font-weight: normal;
            padding-top: 0.25rem;
        }
        
        h3 {
            margin-top: 0.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.95rem;
            color: color(gray-medium);
        }
        
        p {
            margin-top: 0.5rem;
        }
        
        
        .details {
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;
            box-shadow: inset 0 -2px 0 0 #FFF;
            text-transform: capitalize;
            
            h2,
            h3 {
                margin-bottom: 0.65rem;
            }
            
            &:last-of-type {
                box-shadow: none;
                margin-bottom: 0;
            }
        }
        
        .description {
            font-size: 0.875rem;
            line-height: 1.15em;
            margin-top: 1rem;
            padding-top: 0.875rem;
            border-top: 1px solid #fff;
        }
        
        .accordion-toggle {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            &:before {
                @include translate(0,-50%);
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                font-size: 2.5rem;
                right: 0;
                left: auto;
                top: 50%;
                color: #FFF;
            }
            
            &:hover {
                &:before {
                    color: color(gray-medium);
                    transition: color 0.1s ease-out;
                }
            }
        }
        
        .accordion-panel {
            padding-top: 2rem;
        }
    }

    &:not(.tab-panel) + & {
        margin-top: 2rem;
    }
}