button,
*[class*="button-"] {
    display: inline-block;
    width: auto;
    height: auto;
    min-height: size(input-default);
    line-height: 1.15em;
    padding: 0.75em em(30px);
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
    
    &.block {
        display: block;
        width: 100%;
        padding: 0;
    }
    
    &.x-large {
        min-height: 60px;
        line-height: 60px;
    }
    
    &.large {
        min-height: 50px;
        line-height: 50px;
    }
    
    &.medium {
        min-height: 40px;
        line-height: 40px;
        font-size: 1rem;
        font-weight: normal;
    }
    
    &.small {
        min-height: 30px;
        line-height: 30px;
        font-size: 1rem;
        font-weight: normal;
        padding: 0.35em em(30px);
    }
    
    @include responsive($media: 'tablet-portrait') {
        
    }
}

button,
.button-primary {
    @extend %button-primary;
}

.button-secondary {
    background: color(secondary);
    color: #FFF;
    border-radius: size(border-radius);
}

.button-light {
    background: #FFF;
    box-shadow: inset 0 0 0 1px color(gray-lighter);
    color: color(body);
    border-radius: size(border-radius);
    
    &:before {
        font-size: 1.5rem;
        color: color(primary);
    }
    
    &:hover {
        box-shadow: inset 0 0 0 1px color(primary);
        background: color(primary);
        color: #FFF;
        transition: all 0.1s ease-out;
    }
    
    &[class*="icon-"] {
        padding-left: em(20px);
    }
}

.button-alt {
    background: #FFF;
    box-shadow: inset 0 0 0 2px color(primary);
    color: color(primary);
    border-radius: size(border-radius);
    font-size: 1.25rem;
    
    &:before {
        font-size: 1.5rem;
        color: color(primary);
    }
    
    &:hover {
        background: color(primary);
        color: #FFF;
        transition: all 0.1s ease-out;
    }
    
    &[class*="icon-"] {
        padding-left: em(20px);
    }
    
    &.theme-light {
        &:hover {
            box-shadow: inset 0 0 0 1px color(gray-lighter);
            background: #FFF;
            transition: all 0.1s ease-out;
        }
    }
}

.ui-action {
    display: inline-block;
    font-weight: normal;
    color: color(gray-dark);
    font-size: 1rem;
    cursor: pointer;
    
    &[class*="action-"] {
        @include icon($size: 1.75rem, $icon-size: 1.75rem);
        padding-left: 1.625rem;
        
        &:before {
            color: color(gray-light);
            line-height: 1.4rem;
            margin-left: -4px;
            content: glyph(edit) !important;
        }
        
        &:hover {
            &:before {
                color: color(primary);
                transition: color 0.1s ease-out;
            }
        }
    }

    &.action-add {
        &:before {
            content: glyph(cr-plus-full);
        }
    }
    
    &.action-remove {
        &:before {
            content: glyph(cr-plus-full);
        }
    }
    
    &.action-delete {
        &:before {
            content: glyph(trashbin-full);
        }
    }
}

.ui-action-icon {
    @include icon($size: 3rem, $icon-size: 2rem, $type: 'sq');
    display: block;
    cursor: pointer;
    margin: 0;
            
    &:before {
        color: inherit;
        line-height: 3rem;
    }
    
    &[class*="edit"] {
        &:before {
            content: glyph(edit);
        }
    }
    
    &[class*="delete"] {
        &:before {
            content: glyph(trashbin-full);
        }
    }

    &[class*="add"] {
        &:before {
            content: glyph(sq-plus);
        }
    }
    
    &.small {
        width: 1.5rem !important;
        height: 1.5rem !important;
        
        &:before {
            font-size: 1.5rem !important;
            line-height: 1.5rem !important;
        }
    }
    
    &.medium {
        width: size(input-default) !important;
        height: size(input-default) !important;
        
        &:before {
            font-size: 1.65rem;
            font-weight: bold;
            line-height: size(input-default) !important;
        }
    }
}

.button-circle,
.ui-edit {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
    border-radius: 100%;
    background: color(primary-lighter);
    color: #FFF;
    padding: 0;
    text-align: center !important;
    text-indent: 0.15rem;
    cursor: pointer;
    
    &:before {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        color: #FFF;
        text-align: center;
        text-indent: 0;
    }
    
    &[aria-describedby*="popover"],
    &:hover {
        background: color(secondary);
        transition: color 0.15s ease-out;
    }
}

.ui-edit {
    background: color(primary);
}

.button-cta {
    width: 100%;
    min-height: rem(80px);
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 300;
    position: relative;
    
    &:before {
        @include translate(0,-50%);
        position: absolute;
        top: 50%;
        right: 1rem;
        font-size: 2.5rem;
    }
    
    &.center {
        width: auto;
        display: inline-block;
    }
    
    @include responsive($media: 'tablet-portrait') {
        font-size: 1.75rem;
        
        &:before {
            font-size: 2rem;
        }
    }
    
    @include responsive($max-width: '560px') {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.button-link {
    color: color(primary);
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 1.25rem;
    font-weight: normal;
}

