.menu-vertical {
    @extend %user-noselect;
    height: 100%;
    min-height: 100% !important;
    box-sizing: border-box;
    
    ul {
        display: block;
        width: 100%;
        height: auto;
    }
    
    li {
        display: block;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        color: rgba(color(gray-light), 0.5);

        a {
            display: block;
        }

        &[class*="ui-marker-"] {
            &:after {
                top: 50%;
                left: 1.5rem;
                margin-top: -size(marker)/2;
            }
        }
    }
}

.menu-horizontal {
    @extend %user-noselect;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    &,
    ul {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 0;
        
         & > li {
            display: inline-block;
            width: auto;
            box-sizing: border-box;
            position: relative;
            margin-left: -rem(4px);
            white-space: nowrap;
             
            * {
                white-space: normal;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    &.style-pipes {
        li {
            position: relative;
            margin-right: 0.75rem;
            padding-right: 0.75rem;
            
            &:after {
                @extend %before-after-absolute;
                width: 1px;
                height: 85%;
                top: 8%;
                right: 0;
                background: rgba(color(gray-light), 0.75);
            }
            
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                
                &:after {
                    display: none;
                }
            }
        }
    }
}

.menu-drop {
    .menu-toggle {
        @include icon($icon: glyph(menu-bars), $icon-size: rem(24px), $size: size(touch), $type: 'sq');
        cursor: pointer;
        
         &:before {
            color: color(gray-light);
        }

        &:hover {
            &:before {
                color: color(primary);
                transition: color 0.2s ease-out;
            }
        }
    }
    
    .menu-container {
        @extend %ui-box-float;
        display: none;
        width: auto;
        padding: 1.25rem;
        position: absolute;
        top: 0;
        right: size(touch) + 3rem;
        z-index: 100;
        margin-right: -100%;
        white-space: nowrap;
        
        .menu-option {
            @extend %type-ui-label;
            margin-bottom: 1em;
            text-align: left;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            &:hover {
                color: color(primary);
            }
        }
    }
    
    &:hover {
        .menu-toggle {
            &:before {
                color: color(primary);
            }
        }
        
        .menu-container {
            display: inline-block;
        }
    }
    
    &.horizontal {
        .menu-container {            
            .menu-option {
                margin-bottom: 0;
                margin-right: 0.5rem;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    
    &.small {
        .menu-toggle {
            width: rem(24px) !important;
            height: rem(24px) !important;
            
            &:before {
                line-height: rem(24px) !important;
            }
        }
        
        .menu-container {
            top: rem(24px)/2;
            right: rem(24px)*2;
            padding: 0.65rem;
            margin-top: -100%;
            
            .menu-bottom {
                margin-bottom: 0.35rem;
            }
        }
    }
}

.menu-collapse {
    
    .menu-toggle {
        @include icon($icon: glyph(menu-drop));
        cursor: pointer;

        &:before {
            width: size(touch);
            height: size(touch);
            font-size: 1.65rem;
            text-align: center;
        }
        
        &:hover {
            &:before {
                color: color(primary);
                transition: color 0.1s ease-out;
            }
        }
    }
    
    .menu-panel {
        display: none;
        margin-top: 0;
    }
    
    &.is-open {
        .menu-toggle {
            &:before {
                content: glyph(cross-light);
                color: color(primary);
            }
        }
        
        .menu-panel {
            display: block;
        }
    }
}

.menu-float {
    width: 100%;
    height: auto;
    position: relative;
    
    .menu-float-toggle {
        @include icon($icon: glyph(settings1), $size: 2rem, $icon-size: 2rem, $type: 'sq');
        display: block;
        position: absolute;
        bottom: 0.75rem;
        right: 0.75rem;
        z-index: 500;
        cursor: pointer;
        
        &:before {
            color: #FFF;
            text-shadow: 0 0 8px rgba(color(gray-dark), 0.55);
        }
    }
    
    .menu-float-container,
    .menu-panel {
        @extend %ui-box-float;
        display: none;
        width: $main-content;
        padding: 3.25rem 2.25rem 2rem 2.25rem;
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -0.825rem;
        z-index: 5000;
    }

    &:after {
        @extend %ui-box-pointer;
        display: none;
    }
}

.main-menu,
.secondary-menu,
.page-menu {
    width: 100%;
    height: size(nav-main);
    padding-left: size(margin-page-min);
    
    li {
        width: auto;
        height: size(nav-main);
        line-height: size(nav-main);
        padding: 0;
        margin: 0 1.5rem 0 0;
        
        a {
            display: block;
            width: auto;
            height: size(nav-main);
            position: relative;
        }
        
        &:last-child {
            margin-right: 0;
        }
        
        &.active,
        &:hover {
            a {
                transition: color 0.2s ease-out;
                
                &:before {
                    transition: color 0.2s ease-out;
                }
            }
        }
    }
}

.main-menu {
    padding: 0;
    
    li {
        width: 100%;
        font-size: 1.25rem;
        padding-left: 1.5rem;
        
        a {
            color: color(primary);
        }
        
        &.is-active,
        &.active,
        &:hover {
            a {
                color: color(gray-darkest);
            }
        }
        
        &.is-active,
        &.active {
            a {
                box-shadow: inset -4px 0 0 0 color(primary);
            }
        }
    }
    
    @include responsive($media: 'phone-landscape') {
        li {
            text-indent: -10000px;
            padding: 0;
            
            a {
                text-indent: -100000px;
                
                &:before {
                    text-indent: 1px;
                    opacity: 0.75;
                }
            }
        }
    }
}

.secondary-menu {
    background: color(gray-lightest);
    
    li {
        font-size: 1.25rem;
        font-weight: normal;
        letter-spacing: 0;
        margin-right: 2rem;
        
        a {
            color: color(gray-dark);
        }
        
        &.active {
            a {
                box-shadow: inset 0 -2px 0 0 color(nav-active);
            }
        }
    }
}

.page-menu {
    height: size(header-page);
    position: relative;
    
    li {
        height: size(header-page);
        line-height: size(header-page);
        font-size: 1.25rem;
        font-weight: normal;
        letter-spacing: 0;
        margin-right: 2rem;
        
        a {
            height: size(page-header);
            color: color(gray-dark);
        }
        
        &.active {
            a {
                box-shadow: inset 0 -3px 0 0 color(nav-active);
            }
        }
    }
    
    .menu-toggle {
        @include icon($icon: glyph(menu-bars), $size: 3rem, $icon-size: 2.25rem, $type: 'sq');
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1.5rem;
        cursor: pointer;
        
        &:before {
            color: color(gray-light);
        }
        
        &:hover {
            &:before {
                color: color(primary);
                transition: color 0.1s ease-out;
            }
        }
        
        &.is-active,
        &.is-open {
            &:before {
                content: glyph(cross-light);
                color: color(primary);
            }
        }
    }
}

.top-menu {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    
    li {
        height: rem(36px);
        
        a {
            padding: 0 1.5rem;
            color: color(body);
            font-weight: 500;
            font-size: 0.75rem;
            line-height: rem(36px);
            letter-spacing: 1px;
            
            .stat {
                color: color(primary);
            }
        }
        
        &:hover {
            background: color(gray-lighter);
        }
    }
    
    .menu-toggle {
        height: size(touch);
        font-size: 1.25rem;
        font-weight: normal;
        line-height: size(touch);
        text-transform: uppercase;
        color: color(gray-light);
        padding-left: rem(36px);
        
        &:before {
            width: size(touch);
            height: size(touch);
            line-height: size(touch);
            font-size: 1.825rem;
            text-indent: -5px !important;
            text-align: center;
            position: absolute;
            left: auto;
            top: 0;
            right: 0;
        }
    }
    
    .menu-panel {
        padding-bottom: 1rem;
        
        li {
            height: rem(40px);
            line-height: rem(40px);

            a {
                 color: darken(color(gray-dark), 12%);
            }
            
            &.active,
            &:hover {
                a {
                    color: color(gray-light);
                    transition: color 0.1s ease-out;
                }
            }
        }
    }
    
    .sign-out,
    .support {
        display: none;
    }
    
    &.is-open {
        background: #000;
        
        .menu-toggle {
            color: color(primary);
        }
    }
    
    @include responsive($media: 'phone-tablet') {
        .menu-toggle {
            text-indent: -10000px;
            
            li {
                text-indent: -10000px;
                padding: 0;

                a {
                    text-indent: -100000px;

                    &:before {
                        text-indent: 1px;
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    
    @include responsive($media: 'phone')  {
        width: 16.666666%;
        height: size(touch);
        float: left;
        
        .menu-toggle {
            width: 100%;
            
            &:before {
                width: 100%;
                text-indent: 8px;
                opacity: 1;
            }
        }
        
        .menu-panel {
            width: 100vw;
            padding-top: 1rem;
            background: #000;
        
            li {
                width: 100vw;

                a {
                     text-align: center;
                }

                &:hover {
                    a {
                        color: color(gray-light);
                        transition: color 0.1s ease-out;
                    }
                }
            }
        }
        
        .sign-out,
        .support {
            display: block;
        }
    }
}
