.ui-tabs {
    @extend %clearfix;
    height: auto;
    cursor: pointer;
    
    &,
    & > ul {
        li {
            height: rem(60px);
            line-height: rem(60px);
            list-style: none;
            display: inline-block;
        }
    }
    
    & > ul {
        height: rem(60px);
    }
    
    .tab-pocket {
        height: auto;
        position: relative;
    }
    
    .tab-toggle {
        padding: 0 0 0.5rem 0;
        color: color(gray-medium);
        margin-right: 1.5rem;
        cursor: pointer;
        
        &:hover {
            color: color(primary);
            transition: color 0.1s ease-out;
        }
        
        &.is-active {
            border-bottom: 3px solid color(primary);
            color: color(primary);
        }
        
        &.is-disabled {
            color: color(primary-lighter);
            cursor: auto;
        }
    }

    .tab-panel {
        display: none;
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
        
        &.is-open {
            display: block;
        }

        @include responsive($max-width: '1279px') {
            
        }

        @include responsive($media: 'tablet-landscape') {
            
        }

        @include responsive($media: 'phone-tablet') {
            
        }

        @include responsive($media: 'phone') {
            
        }
    }

    &.is-open {
        .tab-toggle {
            &:after {
//                @extend %ui-box-pointer;
            }
        }

        .tab-panel {
            display: block;
        }
    }
    
    &.dashboard-tabs {
        
        .tab-panel {
            padding: 4rem size(margin-page);
            background: rgba(color(primary), 0.065);
            
            header {
                position: relative;
            }
            
            h1 {
                font-size: 2rem;
                font-weight: 300;
                color: color(primary);
                margin-bottom: 2rem;
            }
        }
        
        .ui-box {
            box-shadow: 0 0 0 1px rgba(color(primary), 0.075), 0 2px 0 0 rgba(color(primary), 0.15);
        }
    }
    
    &.boxed {
        height: rem(36px);
        background: lighten(color(gray-lightest), 4%);
        box-shadow: inset 0 0 0 1px color(gray-lighter);
        color: color(body);
        border-radius: size(border-radius);

        &:before {
            font-size: 1.5rem;
            color: color(primary);
        }

        &:hover {
            box-shadow: inset 0 0 0 1px color(gray-lighter);
            background: lighten(color(gray-lightest), 2%);
            transition: all 0.1s ease-out;
        }

        &[class*="icon-"] {
            padding-left: em(20px);
        }
        
        .tab-toggle {
            line-height: rem(36px);
        }
    }
    
    @include responsive($min-width: '1440px') {
        &.dashboard-tabs {
            .tab-panel {
                padding-left: 15%;
                padding-right: 15%;
            }
        }
    }
    
    @include responsive($max-width: '1300px') {
        &.dashboard-tabs {
            .tab-panel {
                padding-left: 15%;
                padding-right: 15%;
            }
        }
    }
    
    @include responsive($max-width: '1279px') {
        &.dashboard-tabs {
            .tab-panel {
                padding-left: size(margin-page);
                padding-right: size(margin-page);
            }
        }
    }
    
    @include responsive($media: 'phone-tablet') {
        &.dashboard-tabs {
            .tab-panel {
                padding: 3rem size(margin-page-min);
                border-top: 1px solid rgba(color(primary), 0.25);
                border-bottom: 1px solid rgba(color(primary), 0.25);
                
                h1 {
                    text-align: center;
                }
            }
        }
    }
    
    @include responsive($max-width: '680px') {
        
    }
    
    @include responsive($media: 'phone') {
        
        .page-title {
            font-size: 1.85rem;
            line-height: size(header-page-min);
            font-weight: 300;
        }
    }

    @include responsive($media: 'phone') {
        &.dashboard-tabs {
            .tab-panel {
                padding: 0 size(margin-page-min);
            }
        }
        
        .tab-toggle {
//            height: size(touch);
//            min-height: size(touch);
//            padding: 0;
        }
    }
}

.page-tabs {
    width: calc(100% - 20rem) !important;
    max-width: calc(100% - 20rem) !important;
    height: rem(60px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    
    &,
    ul {
        display: table;
        width: 100%;
        
        li {
            display: table-cell;
            width: 25%;
            margin-left: -4px;
            height: rem(60px);
            padding-left: rem(60px);
            color: color(primary-light);
            font-size: 0.925rem;
            line-height: 0.85em;
            font-weight: 600;
            position: relative;
            box-sizing: border-box;
            vertical-align: middle;
            box-shadow: inset 1px 0 0 0 rgba(color(primary),0.5);
            cursor: pointer;
            
            &:before {
                @extend %before-after-absolute;
                display: block;
                width: rem(60px);
                height: rem(60px);
                line-height: rem(60px);
                text-align: center;
                font-size: 1.75rem;
                font-weight: 600;
                position: absolute;
                top: 0;
                left: 0;
            }
            
            &:nth-child(1) {
                box-shadow: none;
                
                &:before {
                    content: "1";
                }
            }
            
            &:nth-child(2) {
                &:before {
                    content: "2";
                }
            }
            
            &:nth-child(3) {
                &:before {
                    content: "3";
                }
            }
            
            &:nth-child(4) {
                &:before {
                    content: "4";
                }
            }
            
            &:hover {
                background: rgba(color(primary), 0.5);
                transition: all 0.05s ease-out;
            }
            
            &.active,
            &.is-open {
                background: color(primary-lightest);
            }
        }
    }
}

.tab-content-selection {
    @extend %user-noselect;
    margin: 0 2rem 0 0;
    cursor: pointer;
    
    h1,
    h2,
    a,
    .tab {
        display: inline-block;
        height: 3rem;
        font-size: rem(28px);
        line-height: 3rem;
        position: relative;
    }
    
    .stat {
        font-size: 1.375em;
        font-weight: 300;
    }
    
    &:hover {
        .tab {
            border-bottom: 3px solid color(gray-light);
        }
    }
    
    &.active {
        .tab {
            border-bottom: 3px solid color(primary);
            
            &:after {
                display: none;
                @extend %before-after-absolute;
                width: 1.5rem;
                height: 0.55rem;
                font-family: $font-glyphs;
                content: glyph(pointer-down);
                font-size: 0.95rem;
                line-height: 0.85rem;
                text-align: center;
                color: color(primary);
                bottom: -0.5rem;
                left: 50%;
                margin-left: -0.75rem;
            }
        }
    }
    
    &:last-child {
        margin-right: 0;
    }
}
