%ui-tag-base {
    @extend %user-noselect;
    display: inline-block;
    width: auto;
    padding: 0 em(12px) 0 em(12px);
    height: size(tag);
    line-height: size(tag);
    border-radius: size(border-radius);
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    
    .tag-delete {  
        display: inline-block;
        width:  1px;
        height: 1px;
        padding-left: 1.15rem;
        cursor: pointer;
        
        &:before {
            @extend %glyphs;
            display: inline-block;
            content: glyph(cross-light);
            width:  size(tag);
            height: size(tag);
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.15rem;
            color: rgba(#000, 0.65);
            mix-blend-mode: overlay;
            text-align: center;
            line-height: 1.25rem;
            position: absolute;
            top: 50%;
            right: 4px;
            margin-top: -0.625rem;
        }
    }
    
    .icon-cross-light {
        cursor: pointer;
        
        &:before {
            color: rgba(#000, 0.65);
            mix-blend-mode: overlay;
        }
    }
    
    &.small,
    &.mini {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.675rem;
    }
    
    &.xsmall {
        height: 1.25rem;
        line-height: 1.25rem;
        font-size: 0.65rem;
    }
}

%ui-tag {
    @extend %ui-tag-base;
    @extend %type-ui-tag;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.65em;
    margin-bottom: 0.375em;
    
    &:last-child {
        margin-right: 0;
    }
    
    &.small {
        @extend %type-ui-label-small;
        height: auto;
        line-height: 1em;
        padding: 0.35rem;
    }
    
    &.xsmall {
        @extend %type-ui-label-small;
        height: auto;
        line-height: 0.95em;
        padding: 0.25rem;
    }
}

*[class*="ui-tag"] {
    @extend %ui-tag;
    background: color(alert-information);
}

.ui-tag-warning,
.ui-tag-yellow {
    background: color(alert-warning);
}

.ui-tag-alert,
.ui-tag-red {
    background: color(alert-error);
}

.ui-tag-success,
.ui-tag-active,
.ui-tag-green {
    background: color(alert-success);
}

.ui-tag-info,
.ui-tag-blue {
    background: color(alert-information);
}

.ui-tag-location {
    background: #FFF;
    color: color(body);
    font-size: 0.9rem;
    font-weight: 600;
}

.moment-tag {
    @extend %clearfix;
    @extend %ui-tag-base;
    @extend %type-ui-label;
    @extend %type-ui-label.strong;
    display: inline-block;
    height: size(tag) + 0.5rem;
    padding-left: size(tag) + 0.5rem;
    line-height: size(tag) + 0.5rem;
    position: relative;
    background-color: color(gray-light);
    margin: 0 0.35rem 0 0;
    
    &:after {
        @extend %before-after-absolute;
        width: 100%;
        height: size(border-radius) - rem(2px);
        border-radius: size(border-radius);
        background-color: inherit;
        mix-blend-mode: color-burn;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    
    .moment-shortcut {
        display: block;
        width: size(tag) + 0.5rem;
        height: size(tag) + 0.5rem;
        text-align: center;
        margin: 0;
        font-size: 1.5em;
        line-height: size(tag) + 0.5rem;
        background-color: inherit;
        text-shadow: 1px 1px 0 rgba(#000,0.25);
        border-radius: size(border-radius);
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &.small,
    &.mini {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.675rem;
    }
}

.tag-role {
    font-size: 0.825rem;
    padding: 0 em(8px) 0 em(8px);
    height: size(tag-small);
    line-height: size(tag-small);
}

.tag-list,
.tag-lists {
    .ui-tag {
        margin-bottom: 0.375rem;
        margin-right: 0.25rem;
        
        &.tag-role {
            margin-right: 0.15rem;
        }
    }
    
    &.inline-group {
        display: inline-block;
        margin-left: 1rem;
    }
}

.tag-holder {
    width: auto;
    height: size(tag);
    
    .tag-label {
        text-transform: uppercase;
        margin-right: 0.5rem;
        color: color(gray-medium);
    }
}