.cascade-ui-guide {
    .grid {
        *[class*="grid-"] {
            height: rem(80px);
            line-height: rem(80px);
            color: #FFF;
            text-align: center;
            font-size: 0.75rem;
            font-weight: 600;
        }
        
        @for $i from 0 through 12 {
            *[class*="grid-"]:nth-child(#{$i}) {
                $background: $i * 5%;
                background-color: darken(color(primary-lighter), $background);
            }
        }
    }
    
    .grid + .grid {
        margin-top: 1.25rem;
    }
}


