@font-face {
    font-family: 'glyphs';
    src: url('../fonts/glyphs.eot');
    src: url('../fonts/glyphs.eot') format('embedded-opentype'),
    url('../fonts/glyphs.ttf') format('truetype'),
    url('../fonts/glyphs.woff') format('woff'),
    url('../fonts/glyphs.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}