$glyphs: (
    twitter: "\e934",
    facebook: "\e91f",
    vimeo: "\e938",
    youtube: "\e93b",
    google: "\e948",
    cr-arrow-down-light: "\e654",
    cr-arrow-up-light: "\e651",
    cr-arrow-left-light: "\e653",
    cr-arrow-right-light: "\e652",
    cr-arrow-right: "\e652",
    cr-arrow-left: "\e653",
    cr-arrow-up: "\e651",
    cr-arrow-down: "\e654",
    cr-plus-light: "\e902",
    cr-minus-light: "\e901",
    cr-cross-light: "\e900",
    cr-plus: "\e916",
    cr-minus: "\e911",
    cr-play: "\e912",
    cr-checkmark: "\e90c",
    cr-checkmark-full: "\e90d",
    cr-play-full: "\e913",
    cr-plus-full: "\e914",
    cr-minus-full: "\e90f",
    reload: "\e917",
    dashboard: "\e919",
    download: "\e91a",
    upload: "\e936",
    email: "\e91c",
    pwd: "\e91c",
    email-full: "\e91d",
    email-light: "\e60a",
    checkmark-light: "\e644",
    cross-light: "\e643",
    checkmark: "\e90b",
    checkmark-bold: "\e90a",
    search-light: "\e60b",
    search: "\e925",
    menu-light: "\e608",
    arrow-up: "\e906",
    arrow-right: "\e905",
    arrow-down: "\e903",
    arrow-left: "\e904",
    arrow-up-light: "\e603",
    arrow-right-light: "\e602",
    arrow-down-light: "\e61a",
    arrow-left-light: "\e619",
    link: "\e618",
    trashbin: "\e616",
    trashbin-full: "\e617",
    trashbin-full2: "\e933",
    star: "\e60e",
    star-full: "\e60f",
    heart: "\e60c",
    heart-full: "\e60d",
    edit: "\e91b",
    events: "\e91e",
    grid-full: "\e920",
    menu-bars: "\e923",
    location: "\e921",
    media-image: "\e922",
    settings1: "\e926",
    settings2: "\e927",
    sq-left: "\e92a",
    sq-down: "\e929",
    sq-right: "\e92b",
    sq-up: "\e92c",
    sq-cross: "\e92e",
    sq-cross-bold: "\e92d",
    sq-minus: "\e930",
    sq-minus-bold: "\e92f",
    sq-plus: "\e932",
    sq-plus-bold: "\e931",
    user-bold: "\e937",
    watch: "\e939",
    world: "\e93a",
    two-windows: "\e935",
    calendar-5: "\e907",
    calendar-12: "\e908",
    tv: "\e93c",
    tv2: "\e94c",
    share: "\e93d",
    view: "\e93e",
    view-full: "\e93f",
    triangle-up: "\e945",
    triangle-down: "\e942",
    triangle-left: "\e943",
    triangle-right: "\e944",
    pointer-up: "\e941",
    pointer-down: "\e940",
    plus: "\e607",
    minus: "\e606", 
    menu-drop: "\e949", 
    login: "\e94a",
    logout: "\e94b",
    help1: "\e94d", 
    help2: "\e94e", 
    briefcase: "\e950", 
    user: "\e951", 
    profile: "\e951", 
    profile2: "\e952",
    arrow-down-full: "\e953",
    arrow-up-full: "\e956",
    arrow-right-full: "\e955",
    arrow-left-full: "\e954",
    pointer-up-2: "\e95a",
    pointer-down-2: "\e957",
    pointer-right-2: "\e959",
    pointer-left-2: "\e958",
    linkedin: "\e95e",
    linkedin_sq: "\e95d",
    article2: "\e95b",
    menu-circles: "\e95f",
    cr-close: "\e960",
    building: "\e961",
    cloud-up: "\e962",
    cloud-down: "\e963",
    article: "\e95c",
    phone: "\e964",
    question: "\e965",
    pointer-up-3: "\e969",
    pointer-down-3: "\e966",
    pointer-right-3: "\e958",
    pointer-left-3: "\e957",
    warning: "\e96c",
    warning-full: "\e96e",
    bell: "\e96b",
    notification: "\e96d",
    doc: "\e970",
    doc-lines: "\e96f",
    key: "\e96a"
);

@each $name, $glyph in $glyphs {
  .icon-#{$name}:before {
    content: $glyph;
  }
}

*[class*="icon-"] {
    font-weight: normal;
}