// COLORS:
$colors: (
    
    //Primary Color
    primary: rgb(41, 131, 200),
    primary-lightest: rgb(225, 236, 241),
    primary-lighter: rgb(184, 212, 225),
    primary-light: rgb(87, 165, 224),
    primary-dark: rgb(28, 100, 156),
    primary-bg: rgb(28, 100, 156),
    
    //Secondary Color
    secondary: rgb(185, 75, 84),
    secondary-light: rgb(214, 107, 116),
    secondary-dark: rgb(166, 57, 66),
    
    //Grays
    gray-darkest: rgb(30, 30, 30),
    gray-darker: rgb(52, 52, 52),
    gray-dark: rgb(80, 80, 80),
    gray-medium: rgb(126, 126, 126),
    gray-light: rgb(186, 186, 186),
    gray-lighter: rgb(224, 224, 224),
    gray-lightest: rgb(240, 240, 240),
    
    //Body Font Color
    body: rgb(122, 122, 122),
    body-dark: rgb(34, 34, 34),
    
    //Navigation
    nav-main: rgb(41, 131, 200),
    nav-secondary: rgb(28, 100, 156),
    nav-active: rgb(185, 75, 84),
    
    //Background
    bg-main: rgb(255, 255, 255),
    bg-secondary: rgb(225, 236, 241),
    
    //Alerts
    alert-error: rgb(201, 52, 52),
    alert-warning: rgb(237, 204, 65),
    alert-success: rgb(93, 157, 53),
    alert-green: rgb(93, 157, 53),
    alert-information: rgb(52, 144, 212),
    
    //Forms
    input: rgb(224, 224, 224)
);